.container
  .main-wrapper
    .guest-book
      = render :partial => "components/guest_book_header", :locals=>{:link_types=>"authoring"}
      .guest-book-entry-authoring-container
        = render 'form'
