.container
  .main-wrapper
    .guest-book
      .guest-book-heading
        %h1
          Guest Book
        = link_to 'Show', @guest_book_entry
        = link_to 'Back', guest_book_entries_path
      .guest-book-entry-authoring-container
        = render 'form'
