.container
  .main-wrapper
    .guest-book
      = render :partial => "components/guest_book_header", :locals=>{:link_types=>"default"}
      .guest-book-entries-container{:data=>{:controller=>'guest'}}
        - @guest_book_entries.each do |guest_book_entry|
          = render :partial => 'entry', :locals => {:entry=> guest_book_entry}