.container
  .main-wrapper
    .guest-book
      = render :partial => "components/guest_book_header", :locals=>{:link_types=>"default", :thank_you=> @thank_you}
      - if @guest_book_entries.length
        - @guest_book_entries.each do |guest_book_entry|
          .guest-book-entries-container{:data=>{:controller=>'guest'}}
            = render :partial => 'entry', :locals => {:entry=> guest_book_entry}
      -else
        %p
          There's nothing here at the moment. Please be a dear and add your memory of Peter!