.container
  .main-wrapper
    .guest-book
      .guest-book-heading
        %h1
          Guest Book
        = link_to 'Sign the guest book', new_guest_book_entry_path
      .guest-book-entries-container
        - @guest_book_entries.each do |guest_book_entry|
          .guest-book-entries-container
            .guest-book-entry-heading
              .title
                =guest_book_entry.title
              .name
                =guest_book_entry.guest_name
            %p.entry
              =guest_book_entry.body