.container
  .main-wrapper
    .guest-book
      = render :partial => "components/guest_book_header", :locals=>{:link_types=>"authoring"}
      .guest-book-entry-authoring-container{:data=>{:controller=>'guest', :guest_peters_last_name_value=>'koper', :guest_hide_class=>'hidden', :guest_touched_class=>'not-touched'}}
        .challenge-wrapper{:data=>{:guest=>{:target=>'question'}}}
          .challenge-wrapper-header
            %h3
              Would you be so kind as to prove your sentience?
            %p
              This does a bit to help with bots, spam, and other annoyances. Thanks!
          .challenge-wrapper-form
            %form{:id=> 'challengeForm'}
              %label.challenge-label{:for=>'challenge'}
                Enter Peter's last name.
              %input.challenge-input.not-touched{:type=>'text', :name=> 'challenge', :data=>{:guest=>{:target=>'lastname'}}}
              %a.challenge-submit{:id=>'challengeButton',:data=>{:action=>'click->guest#check'}}
                Submit
              .warning.hidden{:id=>'challengeWarning',:data=>{:guest=>{:target=>'warning'}}}
                Please check your spelling, that's incorrect.
        .show-hide-form-wrapper.hidden{:data=>{:guest=>{:target=>'form'}}}
          = render 'form'