.container
  .main-wrapper
    .guest-book{:data=>{:controller=>'guest'}}
      = render :partial => "components/guest_book_header", :locals=>{:link_types=>"display"}
      .guest-book-entries-container
        = render :partial => 'entry', :locals => {:entry=> @guest_book_entry}