-@memory = memory

.modal.document-modal{:id=>"document_modal_#{@memory.id.to_s}",:data=>{:controller=>"media"}}
  .modal-close{:tabindex=>-1, :data=>{:micromodal=>{:close=> true}}}
    =@memory.video.file.to_s
    =@memory.id
    =@memory.title