%header.expanded{:id=>'peterKoperHeader'}
  .title
    %h1
      Peter Koper
  .guest-book-link
    %a{:href=> guest_book_entries_path, :tab=>{:index=>0}, :class=> "navigation-button guest-book"}
      Guest Book