.stream-heading{:data=>{:controller=>"stream"}}
  .stream-heading-wrapper
    .mobile-menu-button{:data=>{:controller=>"mobile"}}
      %a{:data=>{:action=>"click->mobile#show"}}
        =fa_icon "bars"
    .main-navigation-links.left
      .stroll
        %a{:href=> root_path, :tab=>{:index=>0}}
          Select a Stroll
    .main-navigation-links.right
      .contact-us
        = mail_to "hello@peterkoper.com", "Contact Us", encode: "hex"
      .drop-stories
        %a{:href=> new_guest_book_entry_path, :tab=>{:index=>0}}
          Drop Your Stories
    .stream-heading-logo.loading
      =link_to image_tag("logo.png", alt:"Peter Koper, Flaneur, Strolls Along Life's Boulevard"), root_path