-@modal_id = modal_id
-@modal_title = modal_title
-@video_player_id = video_player_id
-@video_file_id = video_file_id

.video-modal{:id=>@modal_id}
  .modal-close{:tabindex=>-1, :data=>{:micromodal=>{:close=> true}}}
    %div{:role=>"dialog", :aria=>{:modal=>"true", :labelledby=>"video-modal-#{@video_file_id}-title"}}
      %header
        %h3.video-modal-title{:id=>"video-modal-#{@video_file_id}-title"}
          =@modal_title
        %a.close-link{:as=>"button", :data=>{:micromodal=>{:close=>true}, :action=>'click->stream#hideplyr', :aria=>{:label=>"Close"}}}
          %i.fas.fa-close
      %video.cld-video-player.cld-video-player-skin-dark{:id=>@video_player_id,
                                                        :controls=>true,
                                                        :autoplay=> true,
                                                        :data=>{:cld=>{:public=>{:id=> @video_file_id}}}}