%h1 Listing memory_comments

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @memory_comments.each do |memory_comment|
      %tr
        %td= link_to 'Show', memory_comment
        %td= link_to 'Edit', edit_memory_comment_path(memory_comment)
        %td= link_to 'Destroy', memory_comment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Memory comment', new_memory_comment_path
