.container
  .main-wrapper
    = render :partial=> "components/header", :locals=>{}
  %main
    .home-strolls
      %h2.stroll-title
        Select a stroll
      %hr
      .home-strolls-container
        - @categories.each do |category|
          = render :partial=> "components/category_card", :locals=>{:category=> category, :sub_categories=> category.sub_categories }

