.container
  .main-wrapper
    .home-heading{:data=>{:controller=>"home"}}
      = image_tag("peter.png", alt:"Peter Koper")
      = image_tag("logo.png", alt:"Peter Koper, Flaneur, Strolls Along Life's Boulevard")
    %main
      .home-strolls
        %h2.stroll-title
          Select a stroll
        %hr
        .home-strolls-container
          - @categories.each do |category|
            = render :partial=> "components/category_card", :locals=>{:category=> category, :sub_categories=> category.sub_categories }

