.container
  .main-wrapper
    .home-heading{:data=>{:controller=>"home"}}
      .home-heading-wrapper
        .mobile-menu-button{:data=>{:controller=>"mobile",:micromodal=>{:trigger=>"mobileMenu"}}}
          %a{:data=>{:action=>"click->mobile#show"}}
            =fa_icon "bars"
        .main-navigation-links.left
          .stroll{:id=>"scrollHelp",:data=>{:home=>{:target=>"help"}}}
            %a{:href=> root_path, :tab=>{:index=>0}}
              Select a Stroll
        .main-navigation-links.right
          .contact-us
            = mail_to "hello@peterkoper.com", "Contact Us", encode: "hex"
          .drop-stories
            %a{:href=> guest_book_entries_url, :tab=>{:index=>0}}
              Drop Your Stories
        .home-heading-peter.loading{:id=>"peterHome",:data=>{:home=>{:target=>"peter"}}}
          = image_tag("peter.png", alt:"Our Flaneur")
        .home-heading-logo.loading{:id=>"logoHome",:data=>{:home=>{:target=>"logo"}}}
          = image_tag("logo.png", alt:"Peter Koper, Flaneur, Strolls Along Life's Boulevard")
    %main{:id=>"mainStart"}
      .home-strolls
        %h2.stroll-title
          Select a stroll
        %hr
        .home-strolls-container
          - @categories.each do |category|
            = render :partial=> "components/category_card", :locals=>{:category=> category, :sub_categories=> category.sub_categories }

