.container
  .main-wrapper
    %main{:id=>"mainStart"}
      :javascript
        %script{src: "https://www.cognitoforms.com/f/seamless.js", data: {key: "IaXDixMwUk-vn6a9Op8PTg", form: "2"}}
      %iframe{src: "https://www.cognitoforms.com/f/IaXDixMwUk-vn6a9Op8PTg/2", allow: "payment", style: "border:0;width:100%;", height: "687"}
      :javascript
        %script{src: "https://www.cognitoforms.com/f/iframe.js"}