.container
  .main-wrapper
    = render :partial=> "components/header", :locals=>{}
    .breadcrumb-wrapper
      = render :partial => "components/breadcrumbs"
    .stream-page-heading.tag-header
      .ornamental.ornamental-left
      .heading-text.tag-header-text
        %h1
          = @tag.name
      .ornamental.ornamental-right
    %main
      - if @memory_tags
        .stream-container
          - @memory_tags.each do |m|
            = render :partial=> "components/memory", :locals=> {:memory=> m.memory,
                                                                :tags=> m.memory.tags,
                                                                :categories=> m.memory.categories,
                                                                :category_ref=> @category_ref,
                                                                :sub_category_ref=> @sub_category_ref}