.main-wrapper{
  height: 200vh; //TEMP
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin sticky(){
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}