@import "../vendor/kitty_giraudel/breakpoints";
@import "../utility/pallete";
@import "../dev/responsive-outliner";

.home-heading{
  .home-heading-wrapper{
    .home-heading-peter{
      display: flex;
      flex-direction: row;
      justify-content: center;
      @include respond-to('large') {
        margin-top: 1vh;
        position: relative;
      }
      img{
        @include respond-to('large') {
          height: 45vh;
          width: auto;
        }
        height: 30vh;
        width: auto;
      }
      margin-bottom: 1rem;
    }
    .home-heading-logo{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 5vh;
      img{
        @include respond-to('large') {
          position: relative;
          height: 45vh;
          width: auto;
        }
        height: 23vh;
        width: auto;
      }
    }
  }
}

.stream-heading{
  .stream-heading-wrapper{
    .stream-heading-logo{
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      margin-top: -1%;
      img{
        height: 8rem;
        @include respond-to('large') {
          height: 13.75rem;
          width: auto;
        }
      }
    }
  }
}

.main-navigation-links{
  position: absolute;
  top: 1.5rem;

  .stroll, .drop-stories, .contact-us {
    @include respond-to('medium') {
      display: initial;
    }
    display: none;
    align-self: end;
    span{
      font-family: linotype-didot-headline, serif;;
      font-weight: 400;
      font-style: italic;
      font-size: 1.25rem;
      color: $palette_grey_darker;
    }
    a {
      font-family: linotype-didot-headline, serif;;
      font-weight: 400;
      font-style: italic;
      font-size: 1.25rem;
      color: $palette_grey_darker;
      transition: 300ms color ease-in-out;
      &:hover {
        color: $palette_flaneur_red;
      }
    }
  }
  .drop-stories{
    @include respond-to('large') {
      margin-left: 1rem !important;
      margin-top: 0;
    }
    @include respond-to('medium') {
      margin-top: 0.5rem;
      margin-left: 0;
    }
  }
  &.left{
    display: flex;
    flex-direction: row;
    left: 5%;
  }
  &.right{
    display: flex;
    @include respond-to('large') {
      flex-direction: row !important;
    }
    @include respond-to('medium') {
      flex-direction: column;
      text-align: center;
    }
    right: 5%;
  }
}


