@import "../vendor/kitty_giraudel/breakpoints";
@import "../utility/pallete";
@import "../dev/responsive-outliner";

.peter-heading{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 5vh;
  width: 100%;
  &.retract{
    margin-top: -50vh;
  }
  .peter-heading-wide{
    max-width: 40vw;
    img{
      height: auto;
      width: 100%;
    }
    display: none;
    @include respond-to('medium') {
      display: inline-flex;
    }
  }
  .peter-heading-tall{
    max-width: 33vw;
    img{
      height: auto;
      width: 100%;
    }
    display: inline-flex;
    @include respond-to('medium') {
      display: none;
    }
  }
}

.headings-guest-book{
  margin-top: 1rem;
  .guest-book-heading{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      margin:0 0 1rem 0;
      color: $palette_flaneur_red;
      font-size: 3.125rem;
    }
    .guest-book-heading-border{
      max-width: 12.5rem;
    }
    .sign-link, .show-link, .edit-link, .index-link{
      font-size: 1rem;
      font-style: italic;
      transition: color 1s ease-in-out;
      a{
        color: $palette_grey;
        &:hover{
          color: $palette_grey_darker;
        }
      }
    }
  }
}

.logo, .guest-book-logo{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: -1%;
  .logo-wrapper{
    width: 40vw;
    transition: 300ms all ease-in-out;
    img{
      height: auto;
      width: auto;
    }
  }
  &.retract{
    .logo-wrapper{
      top: 1%;
      width: 20vw;
      position: fixed;
    }
  }
}

.guest-book-button, .guest-book-back-button{
  position: fixed;
  top: 1.5rem;
  right: 5%;
  font-family: linotype-didot-headline, serif;;
  font-weight: 400;
  font-style: italic;
  font-size: 1.25rem;
  color: $palette_grey_darker;
  transition: 300ms color ease-in-out;
  &:hover{
    color: $palette_flaneur_red;
  }
}
