@import "../vendor/micro-modal/modal";
@import "../vendor/kitty_giraudel/breakpoints";

.modal{
  @include modal();
  .adobe-dc-view{
    height: 100vh;
    width: 100vw;
  }
}

.movie-modal, .document-modal {
  .modal-close {
    width: 100%;
    header {
      width: 100%;
      text-align: center;
      margin-top: 0;
      h3 {
        margin-top: 4rem;
        text-align: center;
        font-family: "Campanile", serif;
        color: $palette-off_white;
      }
      a.close-link {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: $palette_off_white;
        transition: color 1s ease-in-out;
        font-size: 2rem;
        &:hover {
          color: $palette_flaneur_yellow;
          cursor: pointer;
        }
      }
    }
    .video-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      &.video-hd-sizing{
        min-width: calc(100vw - 1.25rem);
        iframe{
          min-width: calc(100vw - 1rem);
          height: 100%;
          min-height: 34.547rem;
          margin-top: 0;
        }
      }
      &.video-hd-vertical-sizing{
        min-height: calc(100vh - 8.75rem);
        iframe{
          min-height: calc(100vh - 8rem);
          min-width: 100vw;
          margin-top: 0;
          @include respond-to("small"){
            min-height: calc(100vh - 8.75rem);
          }
        }
      }
      &.video-sd-sizing{
        min-width: calc(100vw - 1.25rem);
        iframe{
          min-width: calc(100vw - 1rem);
          height: 100%;
          min-height: 34.547rem;
          margin-top: 0;
        }
      }
    }
  }
}

.document-modal{
  overflow-y: scroll !important;
}


#flanuerBody{
  &.modal-open{
    position: fixed;
    height: 100vh;
    overflow-y: hidden !important;
    .mobile-menu-button{
      display: none;
    }
  }
}