@import "../utility/pallete";
@import "../utility/lighting";
@import "../dev/responsive-outliner";
@import "../utility/typography";

.stream-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.memory-container{
  //position: relative;
  margin-top: 2rem;
  .memory-image-container {
    //position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rem;
    height: 40rem;
    @include box-shadower();
    border-radius: 0.25rem;
  }
  .memory-text-container{
    margin-top: 0.75rem;
    max-width: 40rem;
    height: auto;
    padding: 1rem;
    background-color: $palette_white;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include box-shadower();
    border-radius: 0.25rem;
    border:1px solid $palette_grey_lighter;
    .memory-date{
      @include base-type();
      font-style: italic;
    }
    .memory-categories{
      @include responsive-outliner();
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      @include sub-header();
      font-size: 1rem;
      color: $palette_blue;
      font-style: normal;
      text-transform: capitalize;
      .category{
        margin-left: 1rem;
        &:after{
          content:', ';
        }
        &:last-of-type{
          &:after{
            content:'';
            margin-left: initial;
          }
        }
      }
    }
  }
}
