@import "../utility/pallete";
@import "../utility/lighting";
@import "../utility/typography";
@import "../utility/blur";
@import "../vendor/micro-modal/modal";
@import "../vendor/kitty_giraudel/breakpoints";

@use "sass:map";

$card-sizes: ("large": 40rem, "medium":40rem, "small":23rem);

@mixin memory-card-sizes($height:true, $width:true){
  @if $height{
    height: map-get($card-sizes, "small");
    @include respond-to('medium') {
      height: map-get($card-sizes, "medium");
    }
    @include respond-to('large') {
      height: map-get($card-sizes, "large");
    }
  }
  @if $width{
    width: map-get($card-sizes, "small");
    @include respond-to('medium') {
      width: map-get($card-sizes, "medium");
    }
    @include respond-to('large') {
      width: map-get($card-sizes, "large");
    }
  }
}

.stream-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: asset-data-url("line.png");
  background-size: 1rem;
  background-repeat: repeat-y;
  background-position: center;
  margin-bottom: 2rem;
}
.memory-container{
  div ul:not(:first-child) {
    margin-top: 2rem;
  }
  background-color: $palette_black;
  &.loading{
    background-image: none;
  }
  .memory-image-container {
    @include memory-card-sizes();
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.25rem;
    @include box-shadower();
  }
  .memory-video-container{
    @include memory-card-sizes();
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.25rem;
    @include box-shadower();
    .memory-video-overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      i{
        transition: color 500ms ease-in-out;
        font-size: 4rem;
        color: $palette_flaneur_yellow;
        @include text-shadower();
        &.overlay-hidden{
          display: none;
        }
        &:hover{
          color: $palette_off_white;
          cursor: pointer;
        }
      }
      .memory-video-overlay-cta{
        color: $palette_flaneur_yellow;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 400;
        margin-top: .5rem;
        @include text-shadower();
      }
    }
  }
  .memory-pdf-container {
    @include memory-card-sizes();
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.25rem;
    @include box-shadower();
    .memory-pdf-overlay{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      i{
        transition: color 500ms ease-in-out;
        font-size: 4rem;
        color: $palette_flaneur_yellow;
        &.overlay-hidden{
          display: none;
        }
        &:hover{
          cursor: pointer;
          color: $palette_off_white;
        }
      }
      .memory-pdf-overlay-cta{
        color: $palette_flaneur_yellow;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 400;
        margin-top: .5rem;
        @include text-shadower();
      }
    }
  }
  .memory-text-container{
    margin-top: 0.75rem;
    @include memory-card-sizes($height: false);
    height: auto;
    padding: 1rem;
    background-color: $palette_white;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include box-shadower();
    border-radius: 0.25rem;
    border:1px solid $palette_grey_lighter;
    .memory-date{
      @include base-type();
      font-style: italic;
      margin:0 0 1rem 0;
      text-transform: capitalize;
    }
    .memory-title{
      @include base-header();
      font-size: 1.75rem;
      margin:0 0 1rem 0;
      color: $palette-flaneur_red;
      line-height: 1.25;
      text-align: center;
    }
    .memory-body{
      width: 100%;
      max-width: 80%;
      font-size: 0.875rem;
      color: $palette_grey_lighter;
      margin:0 0 1rem 0;
    }
    .memory-categories{
      margin:0 0 .5rem 0;
      width: 100%;
      max-width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      @include sub-header();
      font-size: 1rem;
      font-style: normal;
      text-transform: capitalize;
      text-decoration: none;
      font-weight: 600;
      a{
        color: $palette_blue;
        &:hover{
          color: lighten($palette_blue, 15%);
        }
      }
    }
    .memory-category ~ .memory-category::before{
      content:', ';
    }
    .memory-tags{
      width: 100%;
      max-width: 80%;
      font-style: italic;
      font-weight: 200;
      text-transform: capitalize;
      margin: 0;
      padding: 0;
      text-align: center;
      a{
        color: $palette_grey;
        &:hover{
          color: $palette_grey_darker;
        }
      }
      .memory-tag{
        margin:0;
      }
      .memory-tag ~ .memory-tag::before{
        margin-left: -0.1rem;
        content:', ';
      }
    }
  }
}
