@import "../utility/pallete";
@import "../utility/lighting";

.memory-container{
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $palette_black;
    min-height: 90vh;
    height: 90vh;
    margin: 5rem 0 5rem 0;
    @include box-shadower();
    border-radius: 0.25rem;
    .memory-label{
      width: 100%;
      background-color: $palette_white;
      padding: 1rem;
      max-height: 30%;
      overflow: hidden;
      border-radius: 0.05rem;
      @include box-shadower();
      position: absolute;
      bottom:0;
      margin: 0 1rem 1rem 1rem;
      h2, h3{
        margin: 0;
      }
      ul{
        list-style: none;
      }
    }
}

