@import "../vendor/micro-modal/modal";
@import "../utility/pallete";
@import "../utility/textures";
@import "../utility/typography";
@import "../vendor/kitty_giraudel/breakpoints";

.mobile-menu-button{
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  z-index: 999;
  border: 1px solid $palette_grey_lighter;
  background-color: $palette_off_white;
  padding: 0.313rem 0.438rem 0.313rem 0.438rem;
  border-radius: 0.5rem;
  opacity: 80%;
  @include respond-to('medium') {
    display: none;
  }
  a{
    color: $palette_grey;
  }
}

.mobile-menu-wrapper{
  @include background-texture("billie.png");
  background-color: $palette_flaneur_yellow;
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  padding: 2rem;
  z-index: 1000;
  &.is-open {
    display: flex;
  }
  .modal-close{
    width: 100%;
    .mobile-menu-heading{
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      h1{
        color: $palette_off_white;
        margin: 0;
      }
      a{
        color: $palette_off_white;
        font-size: 2rem;
      }
    }
  }
  .mobile-menu-body{
    .main-mobile-menu{
      margin: 1rem 0 1rem 0;
      .main-mobile-menu-item{
        margin: 1rem 0 1rem 0;
        a{
          font-family: $sub-heading-font-name;
          font-weight: 400;
          color:$palette_off_white;
          font-size: 1.5rem;
          &:focus{
            outline: none;
          }
        }
        span{
          display: block;
          font-style: italic;
        }
      }
    }
  }
}