-@memory = memory
-@tags = tags

.memory-container.col-12-sm.col-8{:style=> 'background-image: url('+ @memory.image.to_s+');'}
  .memory-label
    %h2
      = @memory.title
    %hr
    %h3
      = @memory.occurrence.to_s
    %p
      = @memory.body
    %ul
      - @tags.each do |t|
        %li
          = t.name
