-@memory = memory
-@tags = tags
-@categories = categories

.memory-container{:data=>{
                                  :controller=>"stream",
                                  :stream=>{:target=>"url"},
                                  :url=>stream_nav_path,
                                  :action=>"mouseover->stream#set"
                                  }}
  %div{:id=> "memory-card_"+@memory.id.to_s, :data=>{:stream=>{:target=>"id"}}}
    - if !@memory.video
      .memory-image-container.loading{:style=> 'background-image: url('+ @memory.image.to_s+');'}
    -else
      .memory-video-container.loading.still-dulled{:style=> 'background-image: url('+ @memory.image.to_s+');', :data=>{:stream=>{:target=>"poster"}}}
        .memory-video-overlay
          %i.overlay-hidden
            .fas.fa-circle-play
    .memory-text-container
      %h2.memory-date
        = display_fuzzy_date(@memory.occurrence, @memory.fuzzy_date)
      %h3.memory-categories
        -@categories.each do |c|
          %span.memory-category
            = link_to c.name, stream_path(:remembering=> c.id), {:data=>{:action=>'click->stream#rescroll'}}
      %p.memory-body
        = (@memory.body).try(:html_safe)
      %ul.memory-tags
        - @tags.each do |t|
          %span.memory-tag
            = link_to t.name, stream_path(:pondering=> t.id), {:data=>{:action=>'click->stream#rescroll'}}