.stream-container{:id=>"streamContainerMain"}
  = turbo_frame_tag "memory_stream", src: memories_path do
    - @memories.each do |memory|
      = render :partial => "memories/memory", :locals=> {:memory => memory, :tags => memory.tags}

  -# = turbo_frame_tag "tag_stream", src: memories_path do
  -#   - @tags.each do |tag|
  -#     = tag.name