= turbo_frame_tag "stream_nav" do
  - if @category_stream
    .categories-nav
      - @category_stream.each do |c|
        .category-nav
          =c.name
  - if @tag_stream
    %hr
    .tags-nav
      - @tag_stream.each do |t|
        .tag-nav
          =t.name