@import "utility/pallete";
@import "utility/buttons";
@import "utility/lighting";
@import "utility/textures";
@import "utility/typography";
@import "vendor/kitty_giraudel/breakpoints";
@import "utility/forms";

.add-memory-form-container{
  p {
    font-size: 1.15rem;
    font-style: italic;
    color: $palette_grey;
    margin-bottom: 2rem;
    text-align: center;
  }
  .add-memory-form {
    @include form-help();
  }
}