.back-stage{
  .heading{
    h2{
      font-family: aw-conqueror-didot, serif;
      font-weight: 400;
      font-style: normal;
    }
  }
  .style-guide {
    .color{
      min-height: 900px;
      min-width: 900px;
      .sample-holder{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .sample{
          height: 10rem;
          width: 10rem;
          border: 1px solid black;
          border-radius: 10rem;
          margin: 2rem;
          //ToDo: use mixin
          box-shadow: 6px 9px 14px 5px rgba(0,0,0,0.19);
          //ToDo: use palette object
          &.red{
            background-color: red;
          }
          &.blue{
            background-color: blue;
          }
          &.green{
            background-color: green;
          }
          &.white{
            background-color: white;
          }
          &.black{
            background-color: black;
          }
          &.orange{
            background-color: orange;
          }
          &.grey{
            background-color: grey;
            &.light{
              background-color: lighten(grey, 10%);
            }
            &.lighter{
              background-color: lighten(grey, 25%);
            }
          }
        }
      }
    }
  }
}

