@import "utility/pallete";
@import "utility/buttons";
@import "utility/lighting";
@import "dev/responsive-outliner";

.guest-book{
  .hidden{
    display: none !important;
  }
  .guest-book-entry-authoring-container{
    .challenge-wrapper{
      display: flex;
      flex-direction: column;
      .challenge-heading{
        display: flex;
      }
      .challenge-wrapper-form{
        .challenge-label{
          margin: 0.5rem;
        }
        .warning{
          display: initial;
          color: $palette_flaneur_red;
        }
      }
    }
    .show-hide-form-wrapper{
      display: initial;
    }
  }
}

.guest-book-entries-container{
  border: 1px solid $palette_grey_lighter;
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 56.25rem;
  align-items: center;
  padding: 1rem 6.25rem 6.25rem 6.25rem;
  @include box-shadower();
  .guest-book-entry-heading{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    .attribution{
      font-style: italic;
      font-size: 0.75rem;
      color: $palette_grey_lighter;
    }
    .title{
      font-size: 1.15rem;
      text-transform: capitalize;
      color: $palette_blue;
    }
    .name{
      font-size: 1rem;
      text-transform: capitalize;
      color: $palette_grey;
      margin: 0.25rem 0 1rem 0;
      font-weight: 800;
    }
  }
  .entry{
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: $palette_grey;
  }
  .guest-book-entry-photos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    min-width: 40rem;
    align-items: center;
    .guest-book-entry-photo{
      background-repeat: no-repeat;
      background-size: cover;
      width: 40rem;
      height: 40rem;
      margin: 1rem 0 1rem;
      @include box-shadower();
      border-radius: 0.25rem;
      &.loading{
        background-image: none;
        background-color: $palette_black;
      }
    }
  }
}

.guest-book-form-container{
  .guest-book-form{
    list-style: none;
    li{
      margin: 1rem 0 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
      label{
        abbr{
          margin-left: 1rem;
          color: $palette_flaneur_red;
        }
      }
      input[type=text]{

      }
      input[type=email]{

      }
      textarea{

      }
      input[type=submit]{
        font-size: 1rem;
        text-transform: capitalize;
        letter-spacing: 0.001rem;
        color: $palette_black;
        font-weight: normal;
      }
  }
}