@import "utility/pallete";
@import "utility/buttons";
@import "utility/lighting";
@import "utility/typography";

.guest-book {

  .hidden {
    display: none !important;
  }

  .headings-guest-book {
    .guest-book-logo {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      margin-top: -1%;

      .logo-wrapper {
        transition: 300ms all ease-in-out;

        img {
          height: 13.75rem;
          width: auto;
        }
      }
    }

    .guest-book-button, .guest-book-back-button {
      position: fixed;
      top: 1.5rem;
      right: 5%;

      a {
        font-family: linotype-didot-headline, serif;;
        font-weight: 400;
        font-style: italic;
        font-size: 1.25rem;
        color: $palette_grey_darker;
        transition: 300ms color ease-in-out;

        &:hover {
          color: $palette_flaneur_red;
        }
      }
    }

    margin-top: 1rem;

    .guest-book-heading {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin: 0 0 1rem 0;
        color: $palette_flaneur_red;
        font-size: 3.125rem;
      }

      h2 {
        margin: 0 0 1rem 0;
        color: $palette_blue;
        font-family: aw-conqueror-didot, serif;
        font-size: 1.15rem;
        font-weight: 200;
      }

      .guest-book-heading-border {
        max-width: 12.5rem;
      }

      .sign-link, .show-link, .edit-link, .index-link {
        font-size: 1rem;
        font-style: italic;
        transition: color 1s ease-in-out;

        a {
          color: $palette_grey;

          &:hover {
            color: $palette_grey_darker;
          }
        }
      }
    }
  }

  .guest-book-entry-authoring-container {
    .challenge-wrapper {
      display: flex;
      flex-direction: column;

      .challenge-wrapper-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          margin-bottom: 0;
          color: $palette_blue;
        }

        p {
          font-size: 1rem;
          font-style: italic;
          color: $palette_grey;
          margin-bottom: 2rem;
        }
      }

      .challenge-wrapper-form {
        form {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .challenge-label {
            margin: 0.5rem 2rem 0.5rem 0.5rem;
          }

          .challenge-input {
            max-width: 10rem;
            border-radius: 0.05rem;
            border-color: $palette_flaneur_red;

            &.not-touched {
              border-color: $palette_grey_lighter;
            }
          }

          .challenge-submit {
            @include button-bg();
            margin-left: 2rem;
          }
        }
      }

      .warning {
        padding: 2rem;
        text-align: center;
        width: 100%;
        display: initial;
        color: $palette_flaneur_red;
      }
    }

    .show-hide-form-wrapper {
      display: initial;
    }
  }
}

.guest-book-entries-container {
  border: 1px solid $palette_grey_lighter;
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 56.25rem;
  align-items: center;
  padding: 1rem 6.25rem 6.25rem 6.25rem;

  p.warning {
    color: $palette_off_white;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: $palette_flaneur_red;
    margin-bottom: 2rem;
  }

  @include box-shadower();

  .guest-book-entry-heading {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .attribution {
      font-style: italic;
      font-size: 0.75rem;
      color: $palette_grey_lighter;
    }

    .title {
      font-size: 1.15rem;
      text-transform: capitalize;
      color: $palette_blue;
    }

    .name {
      font-size: 1rem;
      text-transform: capitalize;
      color: $palette_grey;
      margin: 0.25rem 0 1rem 0;
      font-weight: 800;
    }
  }

  .entry {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: $palette_grey;
  }

  .guest-book-entry-photos {
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 40rem;
    align-items: center;

    .guest-book-entry-photo-row {
      display: flex;
      flex-direction: row;
      height: auto;
      align-items: center;
      justify-content: space-around;

      .guest-book-entry-photo {
        background-repeat: no-repeat;
        background-size: cover;
        @include box-shadower();
        border-radius: 0.25rem;

        &.loading {
          background-image: none;
          background-color: $palette_black;
        }

        &.large {
          width: 40rem;
          height: 40rem;
          margin: 1rem 0 4rem;
        }

        &.small {
          width: 19.813rem;
          height: 19.813rem;

          &.left {
            margin: 1rem 2rem 2rem;
          }

          &.right {
            margin: 1rem 0 2rem 2rem;
          }
        }
      }
    }
  }
}

.guest-book-form-container {
  p {
    font-size: 1rem;
    font-style: italic;
    color: $palette_grey;
    margin-bottom: 2rem;
    text-align: center;
  }

  .guest-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    li {
      margin: 1rem 0 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    label {
      @include sub-header();
      margin-bottom: 0.5rem;
      text-transform: uppercase;

      abbr {
        margin-left: 1rem;
        color: $palette_flaneur_red;
      }
    }

    p.form-inner-text {
      font-size: 0.75rem;
      font-family: aw-conqueror-didot, serif;
      color: $palette_grey;
      text-align: left;
      width: 50%;
    }

    input[type=text] {
      width: 100%;

      &#guest_book_entry_guest_name {
        width: 50%;
      }
    }

    input[type=email] {
      width: 50%;
    }

    textarea {
      width: 100%;
    }

    input[type=submit] {
      text-align: center;
      @include button-bg();
      text-shadow: none !important;
    }

    fieldset {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }
}