@import "utility/typography";
@import "utility/pallete";

// ToDo: Responsive

.stream-page-heading{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  .heading-text{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    h1{
      color: $palette_flaneur_red;
      font-size: 3.438rem;
      margin: 0;
    }
  }
  .ornamental{
    &.ornamental-right{
      svg{
        transform-origin: left bottom;
        transform: rotate(-90deg) translate(-50%,0);
      }
    }
    &.ornamental-left{
      svg{
        transform-origin: right bottom;
        transform: rotate(90deg) translate(50%, 0);
      }
    }
    width: 15%;
    height: auto;
  }
}