@import "utility/typography";
@import "utility/pallete";
@import "vendor/kitty_giraudel/breakpoints";
@import "dev/responsive-outliner";
@import "components/memory";


.stream-page-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  align-content: stretch;
  @include memory-card-sizes(false, true);
  .heading-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    h1{
      margin: 0;
      padding: 0;
      color: $palette_flaneur_red;
      @include respond-to("large"){
        font-size: 3.438rem;
      }
      @include respond-to("medium"){
        font-size: 3rem;
      }
      font-size: 2rem;
    }
    &.sub-category-header-text{
      h1{
        color: $palette_blue;
        font-family: $sub-heading-font-name;
        @include respond-to("large"){
          font-size: 3rem;
        }
        @include respond-to("medium"){
          font-size: 2.5rem;
        }
        font-size: 2rem;
      }
    }
    &.tag-header-text{
      h1{
        color: $palette_grey_darker;
        font-family: $main-font-name;
        font-style: italic;
        @include respond-to("large"){
          font-size: 3rem;
        }
        @include respond-to("medium"){
          font-size: 2.5rem;
        }
        font-size: 2rem;
      }
    }
  }
  .ornamental{
    display: flex;
    flex-direction: column;
    max-width: 15%;
    height: 100%;
  }
}