.container
  .main-wrapper
    = render :partial=> "components/header", :locals=>{}
    .breadcrumb-wrapper
      = render :partial => "components/breadcrumbs"
    .stream-page-heading.category-header
      .ornamental.ornamental-left
      .heading-text.category-header-text
        %h1
          = @category.name
        .sub-category-link-wrapper
          =turbo_frame_tag "sub_categories", src: category_sub_categories_url(@category)
      .ornamental.ornamental-right
    %main
      - if @memory_categories
        .stream-container
          - @memory_categories.each do |m|
            = render :partial=> "components/memory", :locals=> {:memory=> m.memory,
                                                                :tags=> m.memory.tags,
                                                                :categories=> m.memory.categories,
                                                                :category_ref=> @category,
                                                                :sub_category_ref=> nil}